body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #d3d3d3;
}

.active {
    color: #ffffff;
}

.btn {
    background-color: #1AA2B8;
    border: 3px #000000 solid;
    border-radius: 0%;
    box-shadow: 2px 2px #000000;
    color: #ffffff;
    height: 30px;
    padding: 0px 15px;
}

li {
    list-style: none;
    padding: 0px 20px;
}

.nav {
    background-color: #3b3b3b;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 20px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-title {
    color: #ffffff;
}
